##### List Assignment

In [ ]:
# Question 1: Create a list of first 10 square numbers

numbers = []
for i in range(1,11):
    i = i ** 2
    numbers += [i] 
print(f'The first 10 square numbers is {numbers} ')

The first 10 square numbers is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even = 0
for num in numbers:
    if num % 2 == 0:
        sum_even += num
print(f'The sum of all even numbers in list is {sum_even}')

The sum of all even numbers in list is 30

In [47]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)
print(unique)

[1, 2, 3, 4, 5, 6, 7]

In [46]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

numbers = [15, 23, 31, 42, 56, 78, 91]
avg = sum(numbers) / len(numbers)
print(avg)

48.0

In [23]:
# Question 6: Create a list of first 15 Fibonacci numbers

a, b = 0, 1
fibonacci = []
for i in range(15):
    fibonacci.append(a)
    a, b = b, a+b
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort()
second_largest = numbers[-2]
print(f'The second largest number is {second_largest}')

The second largest number is 78

In [12]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse = numbers[::-1]
print(reverse)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = 0
for num in numbers:
    if num == 5:
        count += 1
print(count)

4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50

count = 0
prime_numbers = []
for i in range(2, 51):
    is_prime = True
    for j in range(2, i):
        if i%j == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten = []
for sub_list in numbers:
    for item in sub_list:
        flatten.append(item)
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

s1 = [1, 2, 3, 4, 5]
s2 = [4, 5, 6, 7, 8]
common = list(set(s1) & set(s2))
print(common)

[4, 5]

In [6]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

my_list = []
my_list.append([1,2])
my_list.append([3,4])
my_list.append([5,6])
print(my_list)

[[1, 2], [3, 4], [5, 6]]

In [ ]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_each = []
count = 0
for sub in list:
    for item in sub:
        item +=