##### List Assignment

In [ ]:
# Question 1: Create a list of first 10 square numbers

numbers = []
for i in range(1,11):
    i = i ** 2
    numbers += [i] 
print(f'The first 10 square numbers is {numbers} ')

The first 10 square numbers is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_even = 0
for num in numbers:
    if num % 2 == 0:
        sum_even += num
print(f'The sum of all even numbers in list is {sum_even}')

The sum of all even numbers in list is 30

In [47]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique = []
for num in numbers:
    if num not in unique:
        unique.append(num)
print(unique)

[1, 2, 3, 4, 5, 6, 7]

In [46]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

numbers = [15, 23, 31, 42, 56, 78, 91]
avg = sum(numbers) / len(numbers)
print(avg)

48.0

In [23]:
# Question 6: Create a list of first 15 Fibonacci numbers

a, b = 0, 1
fibonacci = []
for i in range(15):
    fibonacci.append(a)
    a, b = b, a+b
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

numbers = [45, 67, 23, 89, 12, 34, 78]
numbers.sort()
second_largest = numbers[-2]
print(f'The second largest number is {second_largest}')

The second largest number is 78

In [12]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse = numbers[::-1]
print(reverse)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = 0
for num in numbers:
    if num == 5:
        count += 1
print(count)

4

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50

count = 0
prime_numbers = []
for i in range(2, 51):
    is_prime = True
    for j in range(2, i):
        if i%j == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten = []
for sub_list in numbers:
    for item in sub_list:
        flatten.append(item)
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
# 1
s1 = [1, 2, 3, 4, 5]
s2 = [4, 5, 6, 7, 8]
common = list(set(s1) & set(s2))
print(common)
# 2
common = []
for num in s1:
    if num in s2:
        common.append(num)
print(common)

[4, 5]
[4, 5]

In [49]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
# 1
my_list = []
my_list.append([1,2])
my_list.append([3,4])
my_list.append([5,6])
print(my_list)
# 2
matrix = []
val = 1
for i in range(3):
    row = []
    for j in range(2):
        row.append(val)
        val += 1
    matrix.append(row)
print(matrix)

[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [23]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_each = []
for sub in numbers:
    count = 0
    for item in sub:
        count += item
    sum_each.append([count])
print(sum_each)

[[6], [15], [24]]

In [22]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []
for i in range(len(matrix)):
    temp = []
    for sub in matrix:
        temp.append(sub[i])
    transpose.append(temp)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

numbers = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_each = []
for sub in numbers:
    max_each.append(max(sub))
print(max_each)

[5, 9, 8]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

# 1
three_d = []
matrix1 = []
matrix1.append([1,2])
matrix1.append([3,4])
matrix2 = []
matrix2.append([5,6])
matrix2.append([7,8])
three_d.append(matrix1)
three_d.append(matrix2)
print(three_d)
# 2
three_d = []
val = 1
for i in range(2):
    matrix = []
    for j in range(2):
        row = []
        for k in range(2):
            row.append(val)
            val += 1
        matrix.append(row)
    three_d.append(matrix)
print(three_d)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [6]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

matrix = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum_of = 0
for i in matrix:
    for j in i:
        sum_of += sum(j)
print(f"The sum of all elements in 3D list is '{sum_of}'")

The sum of all elements in 3D list is '36'

In [20]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
all_even = []
for i in numbers:
    for j in i:
        if j%2 == 0:
            all_even.append(j)
print(all_even)

[2, 4, 6, 8]

In [ ]:
# Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]

mixed_data = []
mixed_data.append(1)
mixed_data.append('hello')
mixed_data.append(3.14)
mixed_data.append(True)
mixed_data.append([1,2,3])
print(mixed_data)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [21]:
# Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']

list = ['apple', 'banana', 'cherry', 'date']
each_len = []
for string in list:
    each_len.append(len(string))
print(each_len)

[5, 6, 6, 4]

In [23]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

list_of_tuple = []
list_of_tuple.append((1, 'a'))
list_of_tuple.append((2, 'b'))
list_of_tuple.append((3, 'c'))
print(list_of_tuple)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

list = [(1, 'a'), (2, 'b'), (3, 'c')]
extract_each = []
for tuple in list:
    extract_each.append(tuple[0])
print(extract_each)

[1, 2, 3]

In [31]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

list_of_dic = []
list_of_dic.append({'name': 'Alice', 'age': 25})
list_of_dic.append({'name': 'Bob', 'age': 30})
print(list_of_dic)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [4]:
# Question 25: Extract all 'name' values from list of dictionaries

list_of_dic = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
name_val = []
for dict in list_of_dic:
    name_val.append(dict.get('name'))
print(f'The all "name" values from list of dictionaries{name_val}')

The all "name" values from list of dictionaries['Alice', 'Bob']

In [68]:
# Question 26: Find the person with maximum age in list of dictionaries

list_of_dic = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
max_age = max(list_of_dic, key=lambda x : x['age'])
print(max_age)

{'name': 'Bob', 'age': 30}

In [9]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

four_d = []
val = 0
for i in range(2):
    three_d = []
    for j in range(2):
        matrix = []
        for k in range(2):
            row = []
            for l in range(2):
                val += 1
                row.append(val)
            matrix.append(row)
        three_d.append(matrix)
    four_d.append(three_d)
print(four_d)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [20]:
# Question 28: Find the maximum value in 4D list

four_d = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
max_four = float('-inf')
for i in four_d:
    for j in i:
        for k in j:
            max_four = max(max_four, max(k))
print(max_four)

16

In [12]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

list_of_set = []
val = 1
for i in range(3):
    temp = []
    for j in range(3):
        temp.append(val)
        val += 1
    list_of_set.append(set(temp))
print(list_of_set)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [1]:
# Question 30: Find the union of all sets in list of sets

list_of_set = [{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]
all_set_uni = set()
for set in list_of_set:
    all_set_uni |= set 
print(all_set_uni)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

complex_nums = []
real = 1
imag = 2
for i in range(3):
    complex_nums.append(real + imag*1j)
    real += 2
    imag += 2
print(complex_nums)

[(1+2j), (3+4j), (5+6j)]

In [ ]:
# Question 32: Find the magnitude of each complex number in list

import math
complex_nums = [1+2j, 3+4j, 5+6j]
for i in complex_nums:
    magnitude = math.sqrt(i.imag**2 + i.real**2) #manual formula
    mag = abs(i)  #using abs()
print(magnitude)
print(mag)

7.810249675906654
7.810249675906654

In [ ]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

nested_list = []

[[0, 1, 0, 1], [0, 1, 0, 1]]

In [55]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

nested = []
for i in range(4):
    if i == 0:
        nested.append(1)
    elif i==1:
        nested.append([2,3])
    elif i==2:
        nested.append([4, [5,6]])
    else:
        nested.append(7)
        
print(nested)

[1, [2, 3], [4, [5, 6]], 7]

In [69]:
# Question 35: Create a list of functions: [len, str, int, float]

func_list = [len, str, int, float]
print(func_list[0]('hello'))
print(repr(func_list[1](23)))
print(func_list[2](1.2))
print(func_list[3](13))

5
'23'
1
13.0

In [75]:
# Question 36: Apply each function in list to string '123'

for f in func_list:
    print(f('123'))

3
123
123
123.0

In [91]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

list_of_lambda = []
for i in range(3):
    if i == 0:
        list_of_lambda.append(lambda x: x*2)
    elif i==1:
        list_of_lambda.append(lambda x:x**2)
    else:
        list_of_lambda.append(lambda x: x+1)
list_of_lambda

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>]

In [89]:
# Question 38: Apply each lambda function to 5

for f in list_of_lambda:
    print(f(5))

10
25
6

In [ ]:
# Question 39: Create a list of classes: [list, dict, set, tuple]

list_of_classes = [list, dict, set, tuple]

#or

list_of_classes = []
for i in range(4):
    if i==0:
        list_of_classes.append(list)
    elif i==1:
        list_of_classes.append(dict)
    elif i==2:
        list_of_classes.append(set)
    else:
        list_of_classes.append(tuple)

In [102]:
# Question 40: Create instances of each class in list

list_of_classes = [list, dict, set, tuple]
for clas in list_of_classes:
    obj = clas()
    print(obj, "is instance of", type(obj))

[] is instance of <class 'list'>
{} is instance of <class 'dict'>
set() is instance of <class 'set'>
() is instance of <class 'tuple'>

In [103]:
# Question 41: Create a list of None values: [None, None, None, None]

list_of_none = [None] * 4
list_of_none

[None, None, None, None]

In [7]:
# Question 42: Replace all None values with 0 in list

list_of_none = [None] * 4
for i in range(4):
    list_of_none[i] = 0
list_of_none

[0, 0, 0, 0]

In [9]:
# Question 43: Create a list of boolean values: [True, False, True, False]

bool_vals = []
for i in range(4):
    bool_vals.append(i % 2 == 0)
print(bool_vals)

[True, False, True, False]

In [16]:
# Question 44: Count True values in boolean list

bool_vals = [True, False, True, False]
count = 0
for t in bool_vals:
    if t == True:
        count += 1
print(count)

2

In [17]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

list_of_range = [range(3), range(5), range(2)]
list_of_range

[range(0, 3), range(0, 5), range(0, 2)]

In [18]:
# Question 46: Convert each range to list

for i in list_of_range:
    print(list(i))

[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1]

In [19]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

list_of_generator = [(x for x in range(3)), (x for x in range(5))]
list_of_generator

[<generator object <genexpr> at 0x000002A45E5F6190>,
 <generator object <genexpr> at 0x000002A45E5F7850>]

In [20]:
# Question 48: Convert each generator to list

for i in list_of_generator:
    print(list(i))

[0, 1, 2]
[0, 1, 2, 3, 4]

In [21]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
list_of_iterators

In [26]:
# Question 50: Extract all elements from each iterator

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
for it in list_of_iterators:
    for val in it:
        print(val, end=" ")
    print()

1 2 3
4 5 6