#### Tuple Assignment

In [1]:
# Question 1: Create a tuple of first 10 natural numbers

natural_nums = tuple(range(1,11))
print(natural_nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

natural_nums = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(natural_nums))

10

In [5]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

tuple_ = ('a', 'b', 'c', 'd', 'e')
print(tuple_[2])

c

In [6]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

tuple_ = (23, 45, 12, 67, 34, 89, 56)
print(max(tuple_))

89

In [7]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

tuple_ = (1, 5, 2, 5, 3, 5, 4, 5, 6)
count = 0
for i in tuple_:
    if i == 5:
        count+=1
print(count)

4

In [20]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

tuple_ = []
for i in range(4):
    if i == 0:
        tuple_.append(10)
    elif i == 1:
        tuple_.append(10.22)
    elif i == 2:
        tuple_.append('hello')
    else:
        tuple_.append(True)
print(tuple(tuple_))

(10, 10.22, 'hello', True)

In [26]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

tuple_ = ('java', 'python', 'c++', 'javascript')
index_ = tuple_.index('python')
print(index_)

1

In [39]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

tuple_ = (10, 20, 30, 40, 50)
if 25 in tuple_:
    print('exists')
else:
    print('not exists')

not exists

In [64]:
# Question 9: Create a tuple of first 5 even numbers
tuple_ = []
for i in range(2,11,2):
    tuple_.append(i)
print(tuple(tuple_))

(2, 4, 6, 8, 10)

In [61]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

tuple_ = (15, 23, 31, 42, 56, 78)
avg = sum(tuple_)/len(tuple_)
print(avg)

40.833333333333336